/* CSS reset */
body {
    font-family: Arial;
    line-height: 26px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;
}

p {
    margin: 0;
}