@import 'mixins.scss';

.bot {
    @include flex();
    align-items: center;
    width: 100%;
    text-align: left;

    .bot-avatar {
        @include flex(center, none);
        width: 150px;
        height: 150px;
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 50%;
        overflow: hidden;
    }

    .bot-info {
        @include flex(auto, column);

        .header {
            display: flex;
            font-size: 32px;
            border-bottom: 2px solid rgba(255, 255, 255, 0.2);
            margin-bottom: 6px;
            padding-bottom: 8px;
        }
    }
}

.bot:not(:last-of-type) {
    margin-bottom: 24px;
}

.bot:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;

    .bot-info {
        .header {
            flex-direction: row-reverse;
            padding-right: 24px;

            .github,
            .link {
                margin-right: 8px;
            }
        }

        .description {
            padding-right: 24px;
        }
    }
}

.bot:nth-child(odd) {
    .bot-info {
        .header {
            padding-left: 24px;

            .github,
            .link {
                margin-left: 8px;
            }
        }

        .description {
            padding-left: 24px;
        }
    }
}
