@import 'mixins.scss';

.container {
    padding: 0 2rem;
}

.main {
    @include flex(center, column);

    min-height: 100vh;
    padding: 4rem 0;
    line-height: 26px;
    font-style: italic;
    text-align: center;
    -webkit-backdrop-filter: blur(5px) brightness(.7);
            backdrop-filter: blur(5px) brightness(.7);
}

#__next::before {
    @include absolute-cover;

    content: '';
    background: url(../public/bgs/Opalset.jpg) right bottom / cover no-repeat fixed;
    z-index: -1;
}
